<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    {{> style  }}

</head>
<body ng-app="iju" ng-controller="ijuCtrl">
{% body %}
{{> script  }}
</body>
</html>
